/*
* Fat Skeleton V0.1
* Copyright 2014, Umayr Shahid
* umayr.github.io/fatskeleton
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 3/20/2014
*
* Original Skeleton Framework is owned by Dave Gamache.
* www.getskeleton.com
*/


.container {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  .column, .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    &.alpha {
      margin-left: 0;
      margin-right: 10px;
    }
    &.omega {
      margin-left: 10px;
      margin-right: 0;
    }
    &.alpha.omega {
      margin-left: 0;
      margin-right: 0
    }
  }
  .row {
    margin-bottom: 20px;
    zoom: 1;
    &:after, &:before {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    &:after {
      clear: both;
    }
  }
  .column {
    &.one {
      width: 55px;
    }
    &.one-third {
      width: 380px;
    }
    &.two-thirds {
      width: 780px;
    }
  }
  .columns {
    &.two {
      width: 130px;
    }
    &.three {
      width: 205px;
    }
    &.four {
      width: 280px;
    }
    &.five {
      width: 355px;
    }
    &.six {
      width: 430px;
    }
    &.seven {
      width: 505px;
    }
    &.eight {
      width: 580px;
    }
    &.nine {
      width: 655px;
    }
    &.ten {
      width: 730px;
    }
    &.eleven {
      width: 805px;
    }
    &.twelve {
      width: 880px;
    }
    &.thirteen {
      width: 955px;
    }
    &.fourteen {
      width: 1030px;
    }
    &.fifteen {
      width: 1105px;
    }
    &.sixteen {
      width: 1180px;
    }

  }
  @offset: 75px;
  .offset-by-one {
    padding-left: @offset * 1;
  }
  .offset-by-two {
    padding-left: @offset * 2;
  }
  .offset-by-three {
    padding-left: @offset * 3;
  }
  .offset-by-four {
    padding-left: @offset * 4;
  }
  .offset-by-five {
    padding-left: @offset * 5;
  }
  .offset-by-six {
    padding-left: @offset * 6;
  }
  .offset-by-seven {
    padding-left: @offset * 7;
  }
  .offset-by-eight {
    padding-left: @offset * 8;
  }
  .offset-by-nine {
    padding-left: @offset * 9;
  }
  .offset-by-ten {
    padding-left: @offset * 10;
  }
  .offset-by-eleven {
    padding-left: @offset * 11;
  }
  .offset-by-twelve {
    padding-left: @offset * 12;
  }
  .offset-by-thirteen {
    padding-left: @offset * 13;
  }
  .offset-by-fourteen {
    padding-left: @offset * 14;
  }
  .offset-by-fifteen {
    padding-left: @offset * 15;
  }

  &:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  zoom: 1;
  &:after, &:before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  &:after {
    clear: both;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .container {
    width: 960px;
    .column {
      &.one {
        width: 40px;
      }
      &.one-third {
        width: 300px;
      }
      &.two-thirds {
        width: 620px;
      }
    }
    .columns {
      &.two {
        width: 100px;
      }
      &.three {
        width: 160px;
      }
      &.four {
        width: 220px;
      }
      &.five {
        width: 280px;
      }
      &.six {
        width: 340px;
      }
      &.seven {
        width: 400px;
      }
      &.eight {
        width: 460px;
      }
      &.nine {
        width: 520px;
      }
      &.ten {
        width: 580px;
      }
      &.eleven {
        width: 640px;
      }
      &.twelve {
        width: 700px;
      }
      &.thirteen {
        width: 760px;
      }
      &.fourteen {
        width: 820px;
      }
      &.fifteen {
        width: 880px;
      }
      &.sixteen {
        width: 840px;
      }

    }
    @offset: 60px;
    .offset-by-one {
      padding-left: @offset * 1;
    }
    .offset-by-two {
      padding-left: @offset * 2;
    }
    .offset-by-three {
      padding-left: @offset * 3;
    }
    .offset-by-four {
      padding-left: @offset * 4;
    }
    .offset-by-five {
      padding-left: @offset * 5;
    }
    .offset-by-six {
      padding-left: @offset * 6;
    }
    .offset-by-seven {
      padding-left: @offset * 7;
    }
    .offset-by-eight {
      padding-left: @offset * 8;
    }
    .offset-by-nine {
      padding-left: @offset * 9;
    }
    .offset-by-ten {
      padding-left: @offset * 10;
    }
    .offset-by-eleven {
      padding-left: @offset * 11;
    }
    .offset-by-twelve {
      padding-left: @offset * 12;
    }
    .offset-by-thirteen {
      padding-left: @offset * 13;
    }
    .offset-by-fourteen {
      padding-left: @offset * 14;
    }
    .offset-by-fifteen {
      padding-left: @offset * 15;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
    .column {
      &.one {
        width: 28px;
      }
      &.one-third {
        width: 236px;
      }
      &.two-thirds {
        width: 492px;
      }
    }
    .columns {
      &.two {
        width: 76px;
      }
      &.three {
        width: 124px;
      }
      &.four {
        width: 172px;
      }
      &.five {
        width: 220px;
      }
      &.six {
        width: 268px;
      }
      &.seven {
        width: 316px;
      }
      &.eight {
        width: 364px;
      }
      &.nine {
        width: 412px;
      }
      &.ten {
        width: 460px;
      }
      &.eleven {
        width: 508px;
      }
      &.twelve {
        width: 556px;
      }
      &.thirteen {
        width: 604px;
      }
      &.fourteen {
        width: 652px;
      }
      &.fifteen {
        width: 700px;
      }
      &.sixteen {
        width: 748px;
      }

    }
    @offset: 48px;
    .offset-by-one {
      padding-left: @offset * 1;
    }
    .offset-by-two {
      padding-left: @offset * 2;
    }
    .offset-by-three {
      padding-left: @offset * 3;
    }
    .offset-by-four {
      padding-left: @offset * 4;
    }
    .offset-by-five {
      padding-left: @offset * 5;
    }
    .offset-by-six {
      padding-left: @offset * 6;
    }
    .offset-by-seven {
      padding-left: @offset * 7;
    }
    .offset-by-eight {
      padding-left: @offset * 8;
    }
    .offset-by-nine {
      padding-left: @offset * 9;
    }
    .offset-by-ten {
      padding-left: @offset * 10;
    }
    .offset-by-eleven {
      padding-left: @offset * 11;
    }
    .offset-by-twelve {
      padding-left: @offset * 12;
    }
    .offset-by-thirteen {
      padding-left: @offset * 13;
    }
    .offset-by-fourteen {
      padding-left: @offset * 14;
    }
    .offset-by-fifteen {
      padding-left: @offset * 15;
    }
  }
}
@media only screen and (max-width: 767px) {
  @width: 300px;
  .container {
    width: @width;
    .column {
      &.one,
      &.one-third,
      &.two-thirds {
        width: @width;
      }
    }
    .columns {
      &.two,
      &.three,
      &.four,
      &.five,
      &.six,
      &.seven,
      &.eight,
      &.nine,
      &.ten,
      &.eleven,
      &.twelve,
      &.thirteen,
      &.fourteen,
      &.fifteen,
      &.sixteen {
        width: @width;
      }

    }
    .column.alpha, .column.omega, .columns.alpha, .columns.omega {
      margin-left: 0;
      margin-right: 0;
    }
    @offset: 0px;
    .offset-by-one,
    .offset-by-two,
    .offset-by-three,
    .offset-by-four,
    .offset-by-five,
    .offset-by-six,
    .offset-by-seven,
    .offset-by-eight,
    .offset-by-nine,
    .offset-by-ten,
    .offset-by-eleven,
    .offset-by-twelve,
    .offset-by-thirteen,
    .offset-by-fourteen,
    .offset-by-fifteen {
      padding-left: @offset;
    }
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  @width: 420px;
  .container {
    width: @width;
    .column {
      &.one,
      &.one-third,
      &.two-thirds {
        width: @width;
      }
    }
    .columns {
      &.two,
      &.three,
      &.four,
      &.five,
      &.six,
      &.seven,
      &.eight,
      &.nine,
      &.ten,
      &.eleven,
      &.twelve,
      &.thirteen,
      &.fourteen,
      &.fifteen,
      &.sixteen {
        width: @width;
      }
    }
    .column.alpha, .column.omega, .columns.alpha, .columns.omega {
      margin-left: 0;
      margin-right: 0;
    }
    @offset: 0px;
    .offset-by-one,
    .offset-by-two,
    .offset-by-three,
    .offset-by-four,
    .offset-by-five,
    .offset-by-six,
    .offset-by-seven,
    .offset-by-eight,
    .offset-by-nine,
    .offset-by-ten,
    .offset-by-eleven,
    .offset-by-twelve,
    .offset-by-thirteen,
    .offset-by-fourteen,
    .offset-by-fifteen {
      padding-left: @offset;
    }
  }
}