/*
* Fat Skeleton V0.1
* Copyright 2014, Umayr Shahid
* umayr.github.io/fatskeleton
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 3/20/2014
*
* Original Skeleton Framework is owned by Dave Gamache.
* www.getskeleton.com
*/
.container {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 0;
}
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.container .column.alpha,
.container .columns.alpha {
  margin-left: 0;
  margin-right: 10px;
}
.container .column.omega,
.container .columns.omega {
  margin-left: 10px;
  margin-right: 0;
}
.container .column.alpha.omega,
.container .columns.alpha.omega {
  margin-left: 0;
  margin-right: 0;
}
.container .row {
  margin-bottom: 20px;
  zoom: 1;
}
.container .row:after,
.container .row:before {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.container .row:after {
  clear: both;
}
.container .column.one {
  width: 55px;
}
.container .column.one-third {
  width: 380px;
}
.container .column.two-thirds {
  width: 780px;
}
.container .columns.two {
  width: 130px;
}
.container .columns.three {
  width: 205px;
}
.container .columns.four {
  width: 280px;
}
.container .columns.five {
  width: 355px;
}
.container .columns.six {
  width: 430px;
}
.container .columns.seven {
  width: 505px;
}
.container .columns.eight {
  width: 580px;
}
.container .columns.nine {
  width: 655px;
}
.container .columns.ten {
  width: 730px;
}
.container .columns.eleven {
  width: 805px;
}
.container .columns.twelve {
  width: 880px;
}
.container .columns.thirteen {
  width: 955px;
}
.container .columns.fourteen {
  width: 1030px;
}
.container .columns.fifteen {
  width: 1105px;
}
.container .columns.sixteen {
  width: 1180px;
}
.container .offset-by-one {
  padding-left: 75px;
}
.container .offset-by-two {
  padding-left: 150px;
}
.container .offset-by-three {
  padding-left: 225px;
}
.container .offset-by-four {
  padding-left: 300px;
}
.container .offset-by-five {
  padding-left: 375px;
}
.container .offset-by-six {
  padding-left: 450px;
}
.container .offset-by-seven {
  padding-left: 525px;
}
.container .offset-by-eight {
  padding-left: 600px;
}
.container .offset-by-nine {
  padding-left: 675px;
}
.container .offset-by-ten {
  padding-left: 750px;
}
.container .offset-by-eleven {
  padding-left: 825px;
}
.container .offset-by-twelve {
  padding-left: 900px;
}
.container .offset-by-thirteen {
  padding-left: 975px;
}
.container .offset-by-fourteen {
  padding-left: 1050px;
}
.container .offset-by-fifteen {
  padding-left: 1125px;
}
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after,
.clearfix:before {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .container .column.one {
    width: 40px;
  }
  .container .column.one-third {
    width: 300px;
  }
  .container .column.two-thirds {
    width: 620px;
  }
  .container .columns.two {
    width: 100px;
  }
  .container .columns.three {
    width: 160px;
  }
  .container .columns.four {
    width: 220px;
  }
  .container .columns.five {
    width: 280px;
  }
  .container .columns.six {
    width: 340px;
  }
  .container .columns.seven {
    width: 400px;
  }
  .container .columns.eight {
    width: 460px;
  }
  .container .columns.nine {
    width: 520px;
  }
  .container .columns.ten {
    width: 580px;
  }
  .container .columns.eleven {
    width: 640px;
  }
  .container .columns.twelve {
    width: 700px;
  }
  .container .columns.thirteen {
    width: 760px;
  }
  .container .columns.fourteen {
    width: 820px;
  }
  .container .columns.fifteen {
    width: 880px;
  }
  .container .columns.sixteen {
    width: 840px;
  }
  .container .offset-by-one {
    padding-left: 60px;
  }
  .container .offset-by-two {
    padding-left: 120px;
  }
  .container .offset-by-three {
    padding-left: 180px;
  }
  .container .offset-by-four {
    padding-left: 240px;
  }
  .container .offset-by-five {
    padding-left: 300px;
  }
  .container .offset-by-six {
    padding-left: 360px;
  }
  .container .offset-by-seven {
    padding-left: 420px;
  }
  .container .offset-by-eight {
    padding-left: 480px;
  }
  .container .offset-by-nine {
    padding-left: 540px;
  }
  .container .offset-by-ten {
    padding-left: 600px;
  }
  .container .offset-by-eleven {
    padding-left: 660px;
  }
  .container .offset-by-twelve {
    padding-left: 720px;
  }
  .container .offset-by-thirteen {
    padding-left: 780px;
  }
  .container .offset-by-fourteen {
    padding-left: 840px;
  }
  .container .offset-by-fifteen {
    padding-left: 900px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
  .container .column.one {
    width: 28px;
  }
  .container .column.one-third {
    width: 236px;
  }
  .container .column.two-thirds {
    width: 492px;
  }
  .container .columns.two {
    width: 76px;
  }
  .container .columns.three {
    width: 124px;
  }
  .container .columns.four {
    width: 172px;
  }
  .container .columns.five {
    width: 220px;
  }
  .container .columns.six {
    width: 268px;
  }
  .container .columns.seven {
    width: 316px;
  }
  .container .columns.eight {
    width: 364px;
  }
  .container .columns.nine {
    width: 412px;
  }
  .container .columns.ten {
    width: 460px;
  }
  .container .columns.eleven {
    width: 508px;
  }
  .container .columns.twelve {
    width: 556px;
  }
  .container .columns.thirteen {
    width: 604px;
  }
  .container .columns.fourteen {
    width: 652px;
  }
  .container .columns.fifteen {
    width: 700px;
  }
  .container .columns.sixteen {
    width: 748px;
  }
  .container .offset-by-one {
    padding-left: 48px;
  }
  .container .offset-by-two {
    padding-left: 96px;
  }
  .container .offset-by-three {
    padding-left: 144px;
  }
  .container .offset-by-four {
    padding-left: 192px;
  }
  .container .offset-by-five {
    padding-left: 240px;
  }
  .container .offset-by-six {
    padding-left: 288px;
  }
  .container .offset-by-seven {
    padding-left: 336px;
  }
  .container .offset-by-eight {
    padding-left: 384px;
  }
  .container .offset-by-nine {
    padding-left: 432px;
  }
  .container .offset-by-ten {
    padding-left: 480px;
  }
  .container .offset-by-eleven {
    padding-left: 528px;
  }
  .container .offset-by-twelve {
    padding-left: 576px;
  }
  .container .offset-by-thirteen {
    padding-left: 624px;
  }
  .container .offset-by-fourteen {
    padding-left: 672px;
  }
  .container .offset-by-fifteen {
    padding-left: 720px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }
  .container .column.one,
  .container .column.one-third,
  .container .column.two-thirds {
    width: 300px;
  }
  .container .columns.two,
  .container .columns.three,
  .container .columns.four,
  .container .columns.five,
  .container .columns.six,
  .container .columns.seven,
  .container .columns.eight,
  .container .columns.nine,
  .container .columns.ten,
  .container .columns.eleven,
  .container .columns.twelve,
  .container .columns.thirteen,
  .container .columns.fourteen,
  .container .columns.fifteen,
  .container .columns.sixteen {
    width: 300px;
  }
  .container .column.alpha,
  .container .column.omega,
  .container .columns.alpha,
  .container .columns.omega {
    margin-left: 0;
    margin-right: 0;
  }
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }
  .container .column.one,
  .container .column.one-third,
  .container .column.two-thirds {
    width: 420px;
  }
  .container .columns.two,
  .container .columns.three,
  .container .columns.four,
  .container .columns.five,
  .container .columns.six,
  .container .columns.seven,
  .container .columns.eight,
  .container .columns.nine,
  .container .columns.ten,
  .container .columns.eleven,
  .container .columns.twelve,
  .container .columns.thirteen,
  .container .columns.fourteen,
  .container .columns.fifteen,
  .container .columns.sixteen {
    width: 420px;
  }
  .container .column.alpha,
  .container .column.omega,
  .container .columns.alpha,
  .container .columns.omega {
    margin-left: 0;
    margin-right: 0;
  }
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0px;
  }
}
